/* Universal Presets */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  /* Global CSS Variables */
:root {
    /*
    --body-bg: #fef2dc;
    --header-text: #fef7e9;
    --body-text: #050505;
    --headings: #b65949;
    --primary: #006361;
    --primary-shadow: #0d4645;
    --secondary: #d8a25a;
    --secondary-shadow: #ab8147;
    --white: #ffffff;
  
    font-family: "Young Serif", serif;
    */

    text-align: center;
  }

#closeIcon,
/*#mobileNav*/
.desktop-nav {
    display: none;
}

/* BASE STYLES */
body {
    max-width: 1200px;
    margin: auto;
    background: #DCE5E2;
    font-family: "Open Sans", sans-serif;
}

main,
header {
    margin-inline: .8rem;
}

main {
    background: #fff;
}

li {
    list-style: none;
  }

a {
    text-decoration: none;
    color: inherit;
  }

  hr {
    width: 90%;
    margin: auto;
    margin-bottom: 2rem;
    opacity: .5;
  }

  section {
    margin-bottom: 2.5rem;
  }

  /* COMMON STYLES */
  h2 {
    color: #CC7700;
}

.btn {
    padding: 6px 18px;
    border-radius: 20px;
    font-size: 1.1rem;
    font-weight: 500;
    background-color: #327163; /*#CC7700;*/
    color: #fff;
    box-shadow: 0 3px #1F473E; /*#864309;*/
    transition: color .2s ease, background-color .2s ease;
}

.btn:hover {
    border: 2px solid #197F8C;
    background-color: #fff;
    color: #000;
    box-shadow: none;
}

/* HEADER*/
header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #1F473E;
    color: #fff;
    font-size: 1.3rem;
    cursor: hover;
}

.menu-btn {
    border: none;
    background: none;
    cursor: pointer;
    fill: #fff;
    transition: fill .3s ease, transform .3s ease;
}

.menu-btn:hover {
    fill: #C6A06C;
    transform: scale(1.1);
}

/* MOBILE NAV */
.mobile-nav {
  position: absolute;
  z-index: 1;
  top: 56px;
  left: 0;
  width: 100%;
  margin: auto;
  background-color: #1F473E;
  padding-top: 2rem;
  transform: translateX(-120%);
  transition: transform .4s ease;
}

.mobile-nav li {
    margin-bottom: 1rem;
}

.mobile-nav a {
    font-size: 1.8rem;
    transition: color .3s ease, transform .3s ease;
}

.mobile-nav a:hover {
    color: #C6A06C;
}

.mobile-nav.open {
    transform: translateX(0%);
    transition: transform .4s ease;
  }

/* HERO SECTION */
.hero-container {
    background: linear-gradient(to bottom, #327163, #628A93);
    color: #FFFFFF;
    padding-bottom: 1rem; 
}

.hero-img {
    width: 120px;
    height: 120px;
    border: 2px solid #fff;
    border-radius: 50%;
    margin: 2.1rem 0 1.5rem;
    transition: transform .5s ease;
}

.hero-img:hover {
    transform: rotate(3deg) scale(1.1);
    cursor: pointer;
}

.hero-text-container h1 {
    margin-bottom: 1rem;
    font-size: 2rem;
}

.hero-text-container p:first-of-type {
    font-size: 1.3rem;
    margin-bottom: .2rem;
}

.hero-text-container p:last-of-type {
    margin-bottom: 1.2rem;
}

/* ABOUT SECTION */
.about-container {
    padding-inline: 1rem;
    line-height: 1.8;
    font-size: 1rem;
}

.about-container p:first-of-type,
.about-container h2 {
    margin-bottom: 1rem;
}

.about-container p:last-of-type {
    margin-bottom: 1rem;
}



  /* MEDIA QUERIES */
  @media (min-width: 768px) {
    main {
        margin-inline: 2rem;
    }

    header {
        margin-inline: 2rem;
        padding-inline: 2rem;
        height: 56px;
    }

    h2 {
        font-size: 1.8rem;
    }

    header span {
        font-size: 1.4rem;
    }

    .menu-btn #openIcon {
        width: 35px;
        height: 35px;
    }

    .hero-img {
        width: 150px;
        height: 150px;
        border: 3px solid #fff;
    }

    .hero-text-container h1 {
        font-size: 2.2rem;
    }
    
    .hero-text-container p:first-of-type {
        font-size: 1.5rem;
    }
    
    .hero-text-container p:last-of-type {
        font-size: 1.1rem;
    }
    
    .btn {
        font-size: 1.2rem;
    }
  }

  @media (min-width: 1024px) {
    .menu-btn {
        display: none;
    }

    .desktop-nav li {
        display: inline;
    }
    .desktop-nav {
        display: flex;
    }

    header {
        padding-inline: 2.5rem;
    } 

    .hero-img {
        width: 180px;
        height: 180px;
    }

    .desktop-nav li {
        margin-left: 2rem;
        margin-right: 0;
    }

    .desktop-nav a {
        font-size: 1.2rem;
        transition: color .3s ease;
    }

    .desktop-nav a:hover {
        color: #C6A06C;
    }

    .hero-text-container h1 {
        font-size: 2.4rem;
    }
    
    .hero-text-container p:first-of-type {
        font-size: 1.7rem;
    }
    
    .hero-text-container p:last-of-type {
        font-size: 1.3rem;
    }
    
    .btn {
        font-size: 1.3rem;
    }
  }